* {
    box-sizing: border-box;
}



body {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 100%;
}

h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 250%;
}

.navcolumn {
    float: left;
    background-color: white;
    width: 20%;
    height: 100%;
    background-attachment: fixed;
    border-right: 3px solid #BDACA2;
    position: fixed;
}

.logo {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    /* border: 9px solid rgba(0, 0, 0, .5); */
    margin: 9%;
}

#roz {
    display: none;
}

nav {
    width: 100%;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav li {
    margin: 0 0 3px 0;
}

nav a {
    height: 1.25em;
    line-height: 1.25;
    background-color: white;
    color: black;
    font-size: 20px;
    display: block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-top: 3px dotted #BDACA2;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 12%;
    width: 100%;
}

#lastnav {

    padding-bottom: 13%;
    border-bottom: 3px dotted #BDACA2;

}

nav a:hover {
    color: #BDACA2;
}

main {
    float: right;
    position: static;
    border-right: 3px solid #BDACA2;
    width: 80%;
    height: 100%;
}

.aboutart1 {
    background-image: url("vegetablpic2.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.aboutart2 {
    background-image: url("donat.png");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.aboutart3 {
    background-image: url("cien3.png");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.aboutart4 {
    background-image: url("vegetablpic2.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.aboutart5 {
    background-image: url("calc.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}



.aboutart6 {
    background-image: url("foodmainpicc.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.aboutart7 {
    background-image: url("doct.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);


}

.aboutart8 {
    background-image: url("sugar.jpg");
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}


.aboutp {
    margin: 15% 12% 15% 12%;
    font-size: 150%;
    text-align: left;

}

.more {
    margin-top: 5%;
    margin-left: 40%;

    text-decoration: none;
    color: black;
    padding: 10px;
    border: 3px solid #BDACA2;
    background-color: rgb(248, 187, 44);
    border-radius: 25px;
    text-align: center;
    display: inline-block;


}

.more:hover {
    background-color: rgb(221, 104, 25);
}

.whereweare {
    background-image: url(colorfoodpic2.jpg);
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.zwt {
    background-image: url(paprpic.jpg);
    height: 500px;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom: 30px solid rgb(129, 121, 117);

}

.artic {

    text-decoration: none;
    color: black;
}

h2.title {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    text-align: center;
    background-color: rgba(189, 172, 162, 0.8);
    padding: 5%;

}

footer {
    width: 80%;
    margin-left: 20%;
    clear: both;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    border-right: 3px solid #BDACA2;
    text-align: center;
    color: white;
    font-size: 120%;
}

@media all and (max-width: 800px) {

    nav {
        width: 100%;
        margin-left: 0%;

        display: block;
        width: 100%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    nav li {
        margin: 0 0 3px 0;
    }

    nav a {
        height: 3.5em;
        line-height: 3.5;
        display: block;
        border-top: 3px dotted #BDACA2;

        padding-top: 1%;
        padding-bottom: 10%;
    }

    .navcolumn {
        display: block;
        position: static;
        width: 100%;
        border-right: none;
        background-color: white;
        height: 100%;
        background-attachment: fixed;


    }

    #lastnav {

        padding-bottom: 10%;
        border-bottom: 3px dotted #BDACA2;
    }

    .logo {
        padding-left: 2%;
    }

    .more {
        margin-top: 5%;
        margin-left: 35%;
    }

    main {

        display: block;
        width: 100%;
        border: none;
    }

    footer {
        margin-left: 0%;
        width: 100%;
        border: none;
    }


}

@media all and (max-width: 500px) {
    nav {

        margin-left: 0%;
        display: block;
        width: 100%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    nav li {
        margin: 0 0 3px 0;
    }

    nav a {
        height: 1.25em;
        line-height: 1.25;
        display: block;
        border-top: 3px dotted #BDACA2;


        padding-top: 2%;
        padding-bottom: 8%;
    }

    #lastnav {

        padding-bottom: 8.5%;
        border-bottom: 3px dotted #BDACA2;
    }

    .navcolumn {
        display: block;
        position: static;
        width: 100%;
        border-right: none;
        background-color: white;
        height: 100%;
        background-attachment: fixed;


    }

    .logo {
        padding-left: 2%;
    }


    main {

        display: block;
        width: 100%;
        border: none;
    }

    .whereweare,
    .zwt,
    .aboutart1,
    .aboutart2,

    .aboutart4,
    .aboutart5,
    .aboutart6,
    .aboutart7,
    .aboutart8 {
        background: none;
        height: 150px;
        border: none;
    }

    .aboutart3 {
        background: none;
        height: 300px;
        border: none;
    }

    .abouttext,
    .aboutzwt,
    .aboutwhere {
        display: block;
        margin: 0%;
        border-bottom: 15px solid rgb(129, 121, 117);
        border-top: 15px solid rgb(129, 121, 117);
        background: none;
        background-color: #BDACA2;
        width: 100%;

    }

    .aboutp {
        padding-top: 20%;
    }

    .more {
        margin-top: 5%;
        margin-left: 30%;
    }
}